<div class="w-full flex flex-col">
  <div class="text-2xl text-center">
    Este es el asistente
  </div>
  <form [formGroup]="asistenteForm" class="flex flex-col">
    <mat-form-field>
      <mat-label>
        texto
      </mat-label>
      <input matInput formControlName="texto">
    </mat-form-field>
    <button mat-flat-button
            (click)="realizarTextoVoz()"
    >Envia</button>
  </form>

  <h1>Reconocimiento de Voz</h1>
  <div>
    <button mat-button (click)="startRecognition()">Iniciar reconocimiento</button>
    <button mat-button (click)="stopRecognition()">Detener reconocimiento</button>
  </div>

  <div *ngFor="let palabra of recognizedByWords">{{palabra}}</div>
  <p>texto: {{ recognizedText }}</p>

  <button mat-button (click)="speakText()">Reproducir texto</button>


</div>


